# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
venv_piper/
ENV/

# Logs
*.log

# Piper Binaries (Downloaded automatically by script)
src/piper/

# Voice Models (Downloaded automatically from Hugging Face)
voices/**/*.onnx
voices/**/*.onnx.json

# OS specific
.DS_Store
Thumbs.db

# Local config
src/config.json
src/config.json.bak
src/nicknames.json

# Local / Reference data
not needed/

# Logs
logs/
training_recent_logs.txt
**/training_log.txt

# Temporary files
*.wav
src/*.wav

# Training Dojos
training/tts_dojo/
"training/make piper voice models/tts_dojo/"
**/tts_dojo/*/
**/dataset/
**/training_folder/
**/voice_checkpoints/
**/archived_checkpoints/
**/archived_tts_voices/
**/target_voice_dataset/
**/starting_checkpoint_override/
**/pretrained_tts_checkpoint/
